body, html{
  height: 100%;
  min-height: 100%;
}

.wrapper{
  background: #ccc;
  height: 100%;
}

div{
  background: #fff;
  margin: 10px;
  padding: 20px;
  font-size: 1em;
}

.clearfix:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

#candles{
  height: 200px;
  width: 200px;
  float: left;
}
